/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  *
  * This file is used to format any order that has not bee submitted yet (e.g. CartPage, CheckoutPage)
  *
  **/

.hideOnZeroItems {}
.hideForNow{display: none;}

.show{display: block;}
.hide{display: none;}

.notInCart .addLink {display: block!important;}
.notInCart .removeLink {display: none!important;}
.notInCart .goToCheckoutLink {display: none!important;}

.inCart .addLink {display: none!important;}
.inCart .removeLink {display: block!important;}
.inCart .goToCheckoutLink {display: block!important;}

/*
even when theme-ing ecommerce, these should not be themed
*/


.ajaxQuantityField {text-align: center;}
.removeOneLink {float: left; padding-right: 5px;}



.loadingCartData #InformationTable, .loadingCartData #Amount {color: #e7e7e7!important;}


#action_useDifferentShippingAddress { display: none; }

.doNotShow { display: none; }
.loading { background-image: url(/ecommerce/images/loading.gif); background-repeat: no-repeat; background-position: 95% 0; }


/*
 * Past orders div containing the order history styling
 */

#PastOrders { float: right; width: 45%; }
#ShopAccountForm_MemberForm { width: 45%; }
	#ShopAccountForm_MemberForm label.left, #LoginForm_LoginForm label.left { font-weight: bold; float: left; width: 150px; }
	#ShopAccountForm_MemberForm #Country select { width: 305px; }
#PrintPageIcon img { cursor: pointer; }


