/**
 * IMPORTANT NOTE:
 * The default e-commerce css only includes the basics and it is recommended that you theme these files.
 * Also make sure you have the site's general layout and typography styled before you do this.
 *
 * This file is used to format any order that has not been submitted yet (e.g. CartPage, CheckoutPage)
 * It is also used for add to cart buttons, etc...
 *
 **/


/**
 * table general
 */
table {width: 100%;}
table .right { text-align: right; float: none!important}
table .center { text-align: center; float: none!important}
table .left, table th { text-align: left; float: none!important}

/**
 * table items
 */
td div.productImage {float: left; }
td div.itemTitleAndSubTitle { margin-left: 90px;}

.hideOnZeroItems {}
.hideForNow{display: none;}

.show{display: block;}
.hide{display: none;}

.notInCart .addLink {display: block!important;}
.notInCart .removeLink {display: none!important;}
.notInCart .goToCheckoutLink {display: none!important;}

.inCart .addLink {display: none!important;}
.inCart .removeLink {display: block!important;}
.inCart .goToCheckoutLink {display: block!important;}

.productItem .productActions li {text-align: center;}

/*
even when theme-ing ecommerce, these should not be themed
*/

.ecomquantityfield {text-align: center; }
.ajaxQuantityField {text-align: center; width: 2em;}
.removeOneLink {padding-right: 5px;}
.removeOneLink, .addOneLink {text-decoration: none!important;}



.loadingCartData #InformationTable, .loadingCartData #Amount {color: #e7e7e7!important;}

.doNotShow { display: none; }
.loading { background-image: url(/ecommerce/images/loading.gif); background-repeat: no-repeat; background-position: 95% 0; }
.loading * {display: none!important;}


a.action, #OrderFormAddressHolder .Actions input, #OrderFormHolder .Actions input {
	margin-left: auto;
	margin-right: auto;
	padding: 8px 20px 6px 20px;
	display: inline-block;
	width: auto;
	background: -moz-linear-gradient(
		top,
		#edf4fa 0%,
		#a8a8a8);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#edf4fa),
		to(#a8a8a8));
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.3),
		0px 1px 0px rgba(255,255,255,0.9);

	font: bold 0.9em/0.9em Helvetica, Sans-Serif; text-align: center;
	text-transform: uppercase; text-decoration: none;
	color: #147032;
	text-shadow: 0px 1px 2px #b4d1ad;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
	height: auto;
}

a.action:hover {
	color: #000;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}

.productActions.loading {
	background-image: none;
}
.productActions.loading a {
	background-image: url(/ecommerce/images/loading.gif)!important;
	background-repeat: no-repeat;
	background-position: top left;
	-moz-transition: color 0.25s ease-in-out;
	-webkit-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out;
}


/**
 * Checkout Steps
 **/
/**
 * Steps
 */
#Checkout ol.steps, #OrderConfirmationPage ol.steps  {margin-top: 1em; margin-bottom: 1em; padding-bottom: 2em; 	}
#Checkout ol.steps li, #OrderConfirmationPage ol.steps li {
	padding: 0px;
	display: block;
	float: left;
	width: 24.5%;
	height: 1em;
	background-color: #EDEDED;
	padding-top: 1em;
	padding-bottom: 1em;
	border-right: 1px solid #fff;
	text-align: center;
	color: #888888;
	line-height: 1;
	list-style-type: decimal;
	margin: 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;

}
ol.steps li.link {color: #000;}
ol.steps li.current {color: #000;}
