/**
 * IMPORTANT NOTE:
 * The default e-commerce css only includes the basics and it is recommended that you theme these files.
 * Also make sure you have the site's general layout and typography styled before you do this.
 *
 * This is used for specific CheckoutPage Stuff...
 *
 **/


/**
 * Steps
 */
#Checkout ol.steps  {margin-top: 1em; margin-bottom: 1em; padding-bottom: 2em;}
#Checkout ol.steps li {
	float: left;
	width: 33%;
	height: 1em;
	background-color: #EDEDED;
	padding-top: 1em;
	padding-bottom: 1em;
	border-right: 1px solid #fff;
	text-align: center;
	color: #888888;
	line-height: 1;
	list-style-type: none;
	margin: 0px;
}
ol.steps li.link {color: #000;}
ol.steps li.current {color: #000;}

#OrderItemsOuter {clear: left; }


/**
 * Payment
 */
#Checkout form .paymentfields { width: 315px; }
	#Checkout form .paymentfields label.left { float: none; font-weight: bold; margin-bottom: 10px; }
	#Checkout form .paymentfields .middleColumn { background: none; margin: 0; }
	#Checkout form .paymentfields input { width: 35px; }
		#Checkout form .paymentfields input.text { width: 145px; }
		#Checkout form .paymentfields input.text.maxlength { width: 37px !important; }
	#Checkout form .paymentfields img { border: 0; margin-right: 7px; }
}

.productImage {float: right; }

/**
 * Modifier forms
 */
.modifierFormInner {
	margin-top: 3em;
}


/**
 * previous and andex buttons
 */
.next, .prev, #Checkout .Actions {
	display: block;
	margin-top: 2em;
	margin-bottom: 2em;
	float: none;
	clear: both;
}

.next .action {display: inline-block!important; }

#action_useDifferentShippingAddress { display: none; }

#Checkout #ContentHolder {color: #999;}

#Checkout tr.even, #Checkout tr.odd {background-color: transparent}
