.icon-storeadmin {background-image: url(/ecommerce/images/icons/cart-file.gif)!important;}
.icon-productsandgroupsmodeladmin {background-image: url(/ecommerce/images/icons/cart-file.gif)!important;}
.icon-productsandgroupsmodeladmin {background-image: url(/ecommerce/images/icons/product-file.gif)!important;}
.icon-salesadmin {background-image: url(/ecommerce/images/icons/money-file.gif)!important;}
.cms .Actions {float: right;}
