input.ecommercegeocoding {width: 100%; color: #333;}
input.ecommercegeocoding.useMe {}
input.ecommercegeocoding.useMe.hasText:focus {background-color: #fff;}
input.ecommercegeocoding.selected {background-color: #fff; color: #ddd;}
input.ecommercegeocoding.selected:focus {background-color: green; color: #3CB371;}

