input.ecommercegeocoding {width: 100%; color: #333; font-weight: bold; font-size: 12px; }
input.ecommercegeocoding.useMe {}
input.ecommercegeocoding.useMe.hasText:focus {background-color: #fff;}
input.ecommercegeocoding.selected {background-color: #fff; color: green;border: none;}
input.ecommercegeocoding.selected:focus {}

div.field.hide {display: none;}
div.field.show {display: block;}
div.field.show.geoCodingSet {display: none;}

.ecommercegeocoding label.right {text-align: right; display: block;}
