/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  *
  *
  * This file contains a 'stand-alone' formatting of a full order for email and for printing.
  *
  * To specifically apply formatting to email use: #EmailContent ...
  * To specifically apply to printing use @media print { ...}
  **/



#Icons a {display: block;  float: right; background-repeat: no-repeat; background-position: right top; width: auto; padding-right: 20px;}
	#PrintPageIcon {background-image: url(ecommerce/images/print.png); }
	#ClosePageIcon {background-image: url(ecommerce/images/close.png); }

h1.title { display: block; text-align: right; border-bottom: 1px solid #CDDDDD; text-transform: uppercase; }
body { text-align: left; margin: auto; padding-left: 20px; }
	body td { }
	body .emailTitle { color: #4EA3D7; font-family: Tahoma, Verdana, sans-serif; font-weight: normal; font-size: 20px; }
	body .PageTitle { padding: 5px; color: #333; font-size: 14px; font-family: Tahoma, Verdana, sans-serif; }
		body .footer td { padding: 10px; }
			body .footer td.right { text-align: right; }
	body .typography { padding: 0px 10px; }
		body .typography a { font-size: 1em; text-decoration: underline; }
			body .typography a:hover { text-decoration: none; }
	body .typography ul { padding: 2px 15px; }
		body .typography ul li { padding: 2px 5px; }
	body .typography p { margin: 0.75em 0em; font-size: 12px; color: #666; }
table#SenderTable { width: 100%; }
	table#SenderTable .sender, table#SenderTable .meta { width: 50%; }
table#MetaTable { margin-left: auto; }
	table#MetaTable .label { font-weight: bold; }
table.infotable { border: 1px solid #CDDDDD; border-collapse: collapse; width: 100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #fff; margin-top: 10px; }
	table.infotable h3 { color: #4EA3D7; font-size: 15px; font-weight: normal; font-family: Tahoma, Verdana, sans-serif; }
		table.infotable tr.hideForNow {display: none!important; }
		table.infotable tr.Total { background: #c9ebff; }
			table.infotable tr.Total td { font-weight: bold; font-size: 14px; color: #4EA3D7; text-transform: uppercase; }
			table.infotable tr td, table.infotable tr th { padding: 5px; color: #333; border: 1px solid #CDDDDD; vertical-align: top; }
		table.infotable td { font-size: 12px; }
			table.infotable td.product span { }
			table.infotable tr.summary { font-weight: bold; }
			table.infotable td.ordersummary { font-size: 1em; border-bottom: 1px solid #ccc; }
		table.infotable th { font-weight: bold; font-size: 12px; color: #000; background: #E7EFEF; }
			table.infotable tr td a { color: #4EA3D7; text-decoration: underline; }
				table.infotable tr td a:hover { text-decoration: none; }
	table.infotable .modifierRow,table.infotable .threeColHeader { text-align: right; }
		table.infotable .right { text-align: right; float: none!important}
		table.infotable .center { text-align: center; float: none!important}
		table.infotable .left, table.infotable th { text-align: left; float: none!important}
.warningMessage { margin: 4px 0 0 3px; padding: 5px; width: 92%; color: #DC1313; border: 4px solid #FF7373; background: #FED0D0; }



/*** WIDTHS FOR TABLE ***/
#ShippingTable td, #ShippingTable th { width: 50%; }

#InformationTable tbody td.left, #InformationTable tbody th.left {width: 50%;}
#InformationTable tbody td.center, #InformationTable tbody th.center {width: 15%;}
#InformationTable tbody td.right, #InformationTable tbody th.right {width: 20%;}
#InformationTable tbody td.unitprice, #InformationTable tbody th.unitprice {width: 15%!important;}
#InformationTable tbody td.threeColHeader, #InformationTable tbody th.threeColHeader {width: 80%;}

#OrderPayment tbody td.left, #OrderPayment tbody th.left {width: 35%;}
#OrderPayment tbody td.center, #OrderPayment tbody th.center {width: 15%;}
#OrderPayment tbody td.right, #OrderPayment tbody th.right {width: 20%;}

#OutstandingTable tbody td.right {width: 20%;}

