/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/
table.infotable { width: 100%; }
table.infotable  .right { text-align: right }
table.infotable  .title span { display: block; }
