/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  *
  *
  * This file contains a 'stand-alone' formatting of a full order for email and for printing.
  *
  * To specifically apply formatting to email use: #EmailContent ...
  * To specifically apply to printing use @media print { ...}
  **/



#Icons a {
  display: block;
  float: right;
  background-repeat: no-repeat;
  background-position: right top;
  width: auto;
  padding-right: 20px;
}

#PrintPageIcon {
  background-image: url(../images/print.png);
}

#ClosePageIcon {
  background-image: url(../images/close.png);
}

h1.title {
  display: block;
  text-align: center;
  border-bottom: 1px solid #CDDDDD;
  text-transform: uppercase;
}

body td {}

body .emailTitle {
  color: #4EA3D7;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: normal;
  font-size: 20px;
}

body .PageTitle {
  padding: 5px;
  color: #333;
  font-size: 14px;
  font-family: Tahoma, Verdana, sans-serif;
}

body .footer td {
  padding: 10px;
}

body .footer td.right {
  text-align: right;
}

body .typography {
  padding: 0px 10px;
}

body .typography a {
  font-size: 1em;
  text-decoration: underline;
}

body .typography a:hover {
  text-decoration: none;
}

body .typography ul {
  padding: 2px 15px;
}

body .typography ul li {
  padding: 2px 5px;
}

body .typography p {
  margin: 0.75em 0em;
  font-size: 12px;
  color: #666;
}

table#SenderTable {
  width: 100%;
}

table#SenderTable .sender,
table#SenderTable .meta {
  width: 50%;
}

table#MetaTable {
  margin-left: auto;
}

table#MetaTable .label {
  font-weight: bold;
}

table.information-table {
  border: 1px solid #CDDDDD;
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
  margin-top: 10px;
}

table.information-table h3 {
  color: #4EA3D7;
  font-size: 15px;
  font-weight: normal;
  font-family: Tahoma, Verdana, sans-serif;
}

table.information-table tr.hideForNow {
  display: none !important;
}

table.information-table tr.Total {
  background: #c9ebff;
}

table.information-table tr.Total td {
  font-weight: bold;
  font-size: 14px;
  color: #4EA3D7;
  text-transform: uppercase;
}

table.information-table tr td,
table.information-table tr th {
  padding: 5px;
  color: #333;
  border: 1px solid #CDDDDD;
  vertical-align: top;
}

table.information-table td {
  font-size: 12px;
}

table.information-table td.product span {}

table.information-table tr.summary {
  font-weight: bold;
}

table.information-table td.ordersummary {
  font-size: 1em;
  border-bottom: 1px solid #ccc;
}

table.information-table th {
  font-weight: bold;
  font-size: 12px;
  color: #000;
  background: #E7EFEF;
}

table.information-table tr td a {
  color: #4EA3D7;
  text-decoration: underline;
}

table.information-table tr td a:hover {
  text-decoration: none;
}

table.information-table .modifierRow,
table.information-table .threeColHeader {
  text-align: right;
}

table.information-table .right {
  text-align: right;
  float: none !important
}

table.information-table .center {
  text-align: center;
  float: none !important
}

table.information-table .left,
table.information-table th {
  text-align: left;
  float: none !important
}

.warningMessage {
  margin: 4px 0 0 3px;
  padding: 5px;
  width: 92%;
  color: #DC1313;
  border: 4px solid #FF7373;
  background: #FED0D0;
}


.information-table dt,
.information-table dl,
.information-table dd {
  color: #000;
}

/*** WIDTHS FOR TABLE ***/
#ShippingTable td,
#ShippingTable th {
  width: 50%;
}

.information-table tbody td.left,
.information-table tbody th.left {
  width: 50%;
}

.information-table tbody td.center,
.information-table tbody th.center {
  width: 15%;
}

.information-table tbody td.right,
.information-table tbody th.right {
  width: 20%;
}

.information-table tbody td.unitprice,
.information-table tbody th.unitprice {
  width: 15% !important;
}

.information-table tbody td.threeColHeader,
.information-table tbody th.threeColHeader {
  width: 80%;
}

#OrderPayment tbody td,
#OrderPayment tbody th {
  width: fit-content !important;
}

#OutstandingTable tbody td.right {
  width: 20%;
}

.multi-print-separator {
  margin: 100px 0;
  border-top: 3px double black;
  border-bottom: 3px double black;
}

@media print {
  .multi-print-separator {
    display: none;
  }
}