---
Name: ecommerce
Before: 'mysite/*'
After:
   - 'framework/*'
   - 'cms/*'
---



DevelopmentAdmin:
  extensions:
    - EcommerceDevelopmentAdminDecorator
  registered_controllers:
    ecommerce:
      controller: 'EcommerceDatabaseAdmin'
      links:
        ecommerce: 'The home page for everything e-commerce'

Member:
  extensions:
    - EcommerceRole

SiteTree:
  extensions:
    - EcommerceSiteTreeExtension
  #we add this index to make caching faster ....
  indexes:
    LastEdited: true

Page_Controller:
  extensions:
    - EcommerceSiteTreeExtension_Controller

Money:
  extensions:
    - EcommerceMoney

OrderEmailRecordReview:
  url_segment: "ecommerce-email-preview"

EcommerceDatabaseAdmin:
  allowed_actions:
    runTask: ADMIN

LeftAndMain:
  extra_requirements_css:
    - ecommerce/css/ecommercecmsfixes.css

---
Only:
  moduleexists: 'grouped-cms-menu'
---
LeftAndMain:
  menu_groups:
    Shop:
      - StoreAdmin
      - ProductsAndGroupsModelAdmin
      - ProductConfigModelAdmin
      - SalesAdmin
      - SalesAdminExtras
      - refresh
