---
Name: ecommerce
Before: 'mysite/*'
After: 'framework/*','cms/*'
---

DevelopmentAdmin:
  extensions:
    - EcommerceDevelopmentAdminDecorator
  allowed_actions:
    - 'ecommerce'

Member:
  extensions:
    - EcommerceRole

SiteTree:
  extensions:
    - EcommerceSiteTreeExtension

Payment:
  extensions:
    - EcommercePayment


Page_Controller:
  extensions:
    - EcommerceSiteTreeExtension_Controller

Money:
  extensions:
    - EcommerceMoney

EcommerceDatabaseAdmin:
  allowed_actions:
    - runTask

LeftAndMain:
  extra_requirements_css: ecommerce/css/ecommercecmsfixes.css

---
Only:
  environment: 'dev'
---
EcommercePayment:
  supported_methods:
    EcommercePayment_TestSuccess : Success
    EcommercePayment_TestPending : Pending
    EcommercePayment_TestFailure : Failure
