#LeftAndMain:
#  extra_requirements_javascript:
#    - ecommerce/javascript/EcomPrintAndMail.js


#Injector:
  #EcommercePaymentSupportedMethodsProvider:
    #class: MyEcommercePaymentSupportedMethodsProvider

BillingAddress:
  fields_to_google_geocode_conversion:
    Address:
      street_number: long_name
      route: long_name
      location: long_name
      subpremise: long_name
    Address2:
      sublocality_level_3: long_name
      sublocality_level_2: long_name
      sublocality_level_1: long_name
      administrative_area_level_3: long_name
      administrative_area_level_2: long_name
    City:
      locality: long_name
    RegionCode:
      administrative_area_level_1: short_name
    Country:
      country: short_name
    PostalCode:
      postal_code: long_name


ShippingAddress:
  fields_to_google_geocode_conversion:
    ShippingAddress:
      street_number: long_name
      route: long_name
      location: long_name
      subpremise: long_name
    ShippingAddress2:
      sublocality_level_3: long_name
      sublocality_level_2: long_name
      sublocality_level_1: long_name
    ShippingCity:
      locality: long_name
      administrative_area_level_3: long_name
      administrative_area_level_2: long_name
    ShippingRegionCode:
      administrative_area_level_1: short_name
    ShippingCountry:
      country: short_name
    ShippingPostalCode:
      postal_code: long_name



