Sunnysideup\Ecommerce\Model\Process\OrderStep:
  order_steps_to_include:
    step1: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepCreated
    step2: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepSubmitted
    step3: Sunnysideup\EcommerceMaxmindMinfraud\Model\Process\OrderStepRecordDeviceDetails
    step4: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepSentInvoice
    step5: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepSendAdminNotification
    step6: Sunnysideup\PaymentDps\Model\Process\OrderStepAmountConfirmed
    step7: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepPaid
    step8: Sunnysideup\EcommerceMaxmindMinfraud\Model\Process\OrderStepFraudCheck
    step9: Sunnysideup\EcommerceSecurity\Model\Process\OrderStepSecurityCheck
    step10: Sunnysideup\EcommerceSecurity\Model\Process\OrderStepWhitelistCustomer
    step11: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepConfirmed
    step12: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepSentReceipt
    step13: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepSent
    step14: Sunnysideup\EcommerceOrderstepFeedback\Model\Process\OrderStepFeedback
    step15: Sunnysideup\Ecommerce\Model\Process\OrderSteps\OrderStepArchived
