##############################################
# below is a list of classes within e-commerce
# that can be customised by setting an
# alternative class name
# It is recommended that you copy this setting
# to mysite/_config/config.yml
# or a similar file.
#
# Classes are listed here in alphabetical
# order.
#
#
#
# NICE THEORY
# it does not work in practice,
# use:
#
# Object::useCustomClass('OriginalClass',   'MyClass', true);
# and put in _config.php file.
#
##############################################
#Object:
#  strong_classes:
#    BillingAddress: BillingAddress
#    BuyableFieldType: BuyableFieldType
#    CartCleanupTask: CartCleanupTask
#    Currency: Currency
#    EcommerceClassNameOrTypeDropdownField: EcommerceClassNameOrTypeDropdownField
#    EcommerceConfig: EcommerceConfig
#    EcommerceConfigDefinitions: EcommerceConfigDefinitions
#    EcommerceCountry: EcommerceCountry
#    EcommerceCurrency: EcommerceCurrency
#    EcommerceDatabaseAdmin: EcommerceDatabaseAdmin
#    EcommerceDBConfig: EcommerceDBConfig
#    EcommerceTaskLinkProductWithImages: EcommerceTaskLinkProductWithImages
#    EcomQuantityField: EcomQuantityField
#    Money: Money
#    Order: Order
#    OrderEmailRecord: OrderEmailRecord
#    OrderForm: OrderForm
#    OrderForm_Cancel: OrderForm_Cancel
#    OrderForm_Payment: OrderForm_Payment
#    OrderForm_Validator: OrderForm_Validator
#    OrderFormAddress: OrderFormAddress
#    OrderFormAddressValidator: OrderFormAddressValidator
#    OrderModifier_Descriptor: OrderModifier_Descriptor
#    OrderModifierForm: OrderModifierForm
#    OrderStatusLog_Cancel: OrderStatusLog_Cancel
#    OrderStepField: OrderStepField
#    OrderStep_Created: OrderStep_Created
#    ProductImage: ProductImage
#    SelectOrderAddressField: SelectOrderAddressField
#    ShopAccountForm: ShopAccountForm_Validator
#    ShopAccountForm_Validator: ShopAccountForm_Validator
#    ShippingAddress: ShippingAddress
#    ShoppingCart: ShoppingCart
#    SS_Datetime: I18nDatetime
