##############################################
# below is a list of classes within e-commerce
# that can be customised by setting an
# alternative class name
# It is recommended that you copy this setting
# to mysite/_config/config.yml
# or a similar file.
#
# Classes are listed here in alphabetical
# order.
#
#
#
# NICE THEORY
# it does not work in practice,
# use:
#
# Object::useCustomClass('OriginalClass',   'MyClass', true);
# and put in _config.php file.
#
##############################################
#Object:
#  strong_classes:
#    BillingAddress: BillingAddress
#    BuyableFieldType: BuyableFieldType
#    CartCleanupTask: CartCleanupTask
#    Currency: Currency
#    EcommerceClassNameOrTypeDropdownField: EcommerceClassNameOrTypeDropdownField
#    EcommerceConfig: EcommerceConfig
#    EcommerceConfigDefinitions: EcommerceConfigDefinitions
#    EcommerceCountry: EcommerceCountry
#    EcommerceCurrency: EcommerceCurrency
#    EcommerceDatabaseAdmin: EcommerceDatabaseAdmin
#    EcommerceDBConfig: EcommerceDBConfig
#    EcommerceTaskLinkProductWithImages: EcommerceTaskLinkProductWithImages
#    EcomQuantityField: EcomQuantityField
#    Money: Money
#    Order: Order
#    OrderEmailRecord: OrderEmailRecord
#    OrderForm: OrderForm
#    OrderFormCancel: OrderFormCancel
#    OrderFormPayment: OrderFormPayment
#    OrderFormValidator: OrderFormValidator
#    OrderFormAddress: OrderFormAddress
#    OrderFormAddressValidator: OrderFormAddressValidator
#    OrderModifierDescriptor: OrderModifierDescriptor
#    OrderModifierForm: OrderModifierForm
#    OrderStatusLogCancel: OrderStatusLogCancel
#    OrderStepField: OrderStepField
#    OrderStepCreated: OrderStepCreated
#    ProductImage: ProductImage
#    SelectOrderAddressField: SelectOrderAddressField
#    ShopAccountForm: ShopAccountFormValidator
#    ShopAccountFormValidator: ShopAccountFormValidator
#    ShippingAddress: ShippingAddress
#    ShoppingCart: ShoppingCart
#    SS_Datetime: I18nDatetime
